@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
    /* transition: all 0.25s; */
}

body{background-color: black;
color: white;}
.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;

}

.home ul li{
    display: flex;
    width: 16px;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
} 
.rounded{
    border-radius: 7px;
}
.heading img{
    width: 30px;
}
.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 23px 14px;
    padding-top: 14px;
    font-size: 14px;
}
.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;

}

.footer a {
    color: grey;
}
.header{
    display: flex;
    justify-content: space-between;
background-color: rgb(34 34 34);
height: 74px;
align-items: center;
}
.header>*{
    padding: 20px;
}
.right{
    margin: 16px 0px;
    position: relative;
}
.spotifyplaylists{
    padding: 16px;
}
.card{
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    background-color: #252525;
 position: relative;
}
.card img{
    border-radius: 10px;
    width: 100%;
    object-fit:contain;
}
.card >*{ margin-top: 10px;}
.cardcontainer{
    
    display: flex;
    gap: 10px;
    margin: 30px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow-y: auto;
}
.play{
    width: 55px;
    position: absolute;
    top: 168px;
    right: 18px;
    opacity: 0;
    transition: all 1s ease-out;
}
.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34 34 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}
.playbar{
    background-color: green;
    height: 40px;
    width: 70vw;
    position: fixed;
    bottom: 30px;

padding: 12px;
border-radius: 30px;
}

.songlist ul li{
    list-style-type:none;
    display: flex;
    justify-content:space-between;
    gap: 10px;
    cursor: pointer;
    padding: 15px;
    border: 2px solid white;
    border-radius: 4px;
    margin: 10px 0;
    
}
.songlist ul{
    padding: 0 5px;
    
}
.songlist {
        height: 544px;
        overflow-y: scroll;
        margin-bottom: 44px;
    }

.playnow{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 178px;
    gap: 5px;
}
.songlist .info{
    font-size: 13px; 
    width: 344px;
}
.playnow span{
   font-size: 15px;
   /* width: 64px;
   padding:12px ;  */
}
.seekbar{
    height: 2px;
background-color: white;
    width: 98%;
    border-radius:3px ;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
    
}
.circle{height: 13px;
width: 13px;
border-radius: 13px;
background-color: white;
position: relative;
bottom: 6.5px;
left:0;
}
.songbuttons img{
    cursor: pointer;
}
.songbuttons{
    filter: invert(1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    /* width: 20%; */
}
.card{
    cursor: pointer;
}
.songinfo{
    height: 10px;
    width: 250px;
}
.songtime{
    width: 125px;
}
.songl{
    display: flex;
    justify-content: space-between;
}
.hamburger{
    display: none;
}
.hamburgercont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.close{
    position:absolute;
    width: 35px;
    top: 20px;
    right: 45px;
}
.songvol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
.volume{
    display: flex;
    padding: 10px;
    /* flex-direction: column; */
    /* height: 25px; */
    width: 150px;
    margin-left: 6px;
    justify-content: center;
    align-items: center;
gap: 13px;
}
@media (max-width: 1200px) {
    .left{
        position: absolute;
        left: -130%;
        transition: all .5s;
         background: black;
        z-index: 1;
        width: 370px;
        height: 100vh ;
        
    }
    .right{
        width: 100vw;
    }
    .playbar{
        width: 96vw;
    }
    .songl{
        /* display: flex; */
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        
    }
    .hamburger{
        display: block;
    }
    
   
  }